* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  .background {
    background: black;
    /*background: -moz-linear-gradient(90deg, rgba(239,157,255,1) 0%, rgba(216,205,255,1) 48%, rgba(85,255,239,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(239,157,255,1) 0%, rgba(216,205,255,1) 48%, rgba(85,255,239,1) 100%);
    background: linear-gradient(90deg, rgba(239,157,255,1) 0%, rgba(216,205,255,1) 48%, rgba(85,255,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ef9dff",endColorstr="#55ffef",GradientType=1);*/
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      width: 100%;
  }
  
  /* Style the header */
.header {
  padding: 20px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 3em;
  font-family: "Alata", sans-serif;
  color: white;
}

/* Style the footer */
.footer {
  padding: 10px;
  text-align: center;
  position: absolute;
  left: 50%;
  font-size: 3em;
  font-family: "Alata", sans-serif;
  color: white;
}

/*
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}*/


.left-half {
  background-color: blank;
  color: white;
  font-family: "Alata", sans-serif;
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 0%;
}

/*.right-half {
  background-color: blank;
  color: white;
  font-family: "Alata", sans-serif;
  font-size: 3em;
  position: absolute;
  top: 50%;
  right: 0%;
}*/

.leftbutton {
  background: black;
  width: 20%;
  height: 100%;
  left: 0%;
  color: white;
  font-size: 3em;
  position: absolute;
}

.rightbutton {
  background: black;
  width: 20%;
  height: 100%;
  right: 0%;
  color: white;
  font-size: 3em;
  position: absolute;
}

.leftbutton a {
  display: block;
  width: 100%;
  height: 100%;
}

.rightbutton a {
  display: block;
  width: 100%;
  height: 100%;
}

.leftbutton-text {
 background-color: blank;
color: white;
font-family: "Alata", sans-serif;
font-size: 3em;
position: absolute;
top: 50%;
left: 50px;
}

.rightbutton-text {
  background-color: blank;
 color: white;
 font-family: "Alata", sans-serif;
 font-size: 3em;
 position: absolute;
 top: 50%;
 right: 50px;
 }
